<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools" >
    <!-- Internet permission to load web content -->
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.INTERNET"/>
    
    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.D3Grimoire" >
        <activity
            android:name=".posts.news.NewsPostActivity"
            android:exported="false" />
<!--        <activity-->
<!--            android:name=".posts.news.NewsPostButton"-->
<!--            android:exported="false" />-->
<!--        <activity-->
<!--            android:name=".posts.news.NewsScreen"-->
<!--            android:exported="false" />-->
        <activity
            android:name=".information.ClassInformationActivity"
            android:exported="false" />

<!--        <activity-->
<!--            android:name=".ClassAbility"-->
<!--            android:exported="false" />-->
<!--        <activity-->
<!--            android:name=".InfoScreen"-->
<!--            android:exported="false" />-->
<!--        <activity-->
<!--            android:name=".Item"-->
<!--            android:exported="false" />-->
<!--        <activity-->
<!--            android:name=".ProfileActivity"-->
<!--            android:exported="false" />-->
<!--        <activity-->
<!--            android:name=".ProfileHero"-->
<!--            android:exported="false" />-->
<!--        <activity-->
<!--            android:name=".posts.community.CommunityScreen"-->
<!--            android:exported="false" />-->
<!--        <activity-->
<!--            android:name=".posts.community.CommunityPost"-->
<!--            android:exported="false" />-->
        <activity android:name=".NavBarActivity"
            android:exported="false"/>
        <activity android:name=".posts.news.NewsActivity"
            android:exported="false"/>

        <activity
            android:name=".MainActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>